{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 2,
    "no-console": 2
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
