
html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}
.height100p {
    height: 100vh;
}

.content {
    background-color: var(--mdc-theme-background);
}

/**
 * Lists
 */
.mdc-temporary-drawer--selected.mdc-list-item {
    color: var(--mdc-theme-text-secondary-on-primary-light)
}

/**
 * Cards
 */
.mdc-card {
    background-color: var(--mdc-theme-secondary-light);
}

/**
 * Put drawer under the toolbar.
 */
.mdc-toolbar {
    z-index: 60;
}
