/**
 * Settings Page layout
 */

.settings-card-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}
.setting-cart-container, .hint {
    color: var(--mdc-theme-text-hint-on-light);
}

.settings-block {
    margin: var(--mdc-layout-grid-margin-desktop)
}

.settings-block .mdc-list-item {
    height: auto;
}

.settings-label {
    width: 40%;
    float: left;
    color: var(--mdc-theme-text-primary-on-secondary-light);
}

.settings-content {
    width: 100%;
}

.settings-content .mdc-select {
    width: 100% !important;
}

@media (min-width: 840px) {
    .settings-content {
        width: 60%;
        float: left;
    }
    .settings-content .mdc-select {
        width: 100% !important;
    }
}


@media (min-width: 480px) and (max-width: 839px) {
    .settings-card-container {
        width: 80%;
    }
    .settings-block {
        margin: var(--mdc-layout-grid-margin-tablet)
    }
}
@media (max-width: 479px) {
    .settings-card-container {
        width: 94%;
    }
    .settings-card-container .mdc-card {
        box-shadow: unset;
    }

    .settings-block {
        margin: var(--mdc-layout-grid-margin-phone)
    }
}
