/**
 * Settings Page layout
 */

.settings-card-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

/* Color of title */
.setting-cart-container, .hint {
    color: var(--mdc-theme-text-hint-on-light);
}

/* Margin around each select */
.settings-block {
    margin: var(--mdc-layout-grid-margin-desktop)
}

/* Full with of select */
.settings-block .mdc-select {
    width: 100%;
}

/* Correct size of icon */
.settings-block .mdc-select .material-icons{
    font-size: 100%;
    padding-right: 6px;
}


@media (min-width: 480px) and (max-width: 839px) {
    .settings-card-container {
        width: 80%;
    }
    .settings-block {
        margin: var(--mdc-layout-grid-margin-tablet)
    }
}
@media (max-width: 479px) {
    .settings-card-container {
        width: 94%;
    }
    .settings-card-container .mdc-card {
        box-shadow: unset;
    }

    .settings-block {
        margin: var(--mdc-layout-grid-margin-phone)
    }
}
